# Data Science Tools and Ecosystem 
## Author
Alexandros Tourloukis

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List some popular languages in data science
- List some commonly used libraries in data science
- List some open source data science tools
- Demonstrate some simple arithmetic in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Pandas
3. NumPy

|Data Science Tools|
|----|
|Model Asset Exchange|
|Anaconda|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
9+10

19

In [3]:
11+10

21

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335